body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #1a1d21;
  color: white;
}

button {
  background-color: #4c4e50;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button > img {
  width: auto;
  height: 100%;
  max-width: 25vw;
}

/* @media screen and (orientation: landscape) {
  button > img {
    width: auto;
    height: 100%;
    max-width: 25vw;
  }
} */

/* @media screen and (orientation: portrait) {
  button > img {
    width: 100%;
    height: auto;
    max-height: 20vh;
  }
} */

div > img {
  height: 30vh;
  width: auto;
}

.pnlMenu {
  display: flex;
  flex-direction: row;
  /* width: 50vw; */
  width: 100%;
}

.pnlMenu {
  max-height: 10%;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin-right: 10px;
  /* margin-bottom: 10px; */
  /* flex: 1 0 auto; */
}

.pnlMenu > * {
  margin-right: 10px;
}

progress {
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  appearance: none;
  color: #4c4e50;
  accent-color: #4c4e50;
  background-color: #1a1d21;
}

progress::-webkit-progress-bar,
progress {
  background-color: #1a1d21;
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background-color: #4c4e50 !important;
}

.hidden {
  display: none;
}

select,
input {
  /* background: #00000099; */
  background-color: #1a1d21;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  /* padding: 10px;
    margin-bottom: 10px; */
  text-align: center;
}

label,
output {
  color: white;
  padding: 10px;
  text-align: center;
}

.pnlMenu {
  display: inline-flex;
  flex-direction: row;
  /* border: 1px solid white; */
  border-radius: 5px;
  /* background: #00000099; */
  text-align: center;

  width: 98vw;
  height: 5vh;

  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.pnlMenu > * {
  height: 100%;
  align-items: center;
}

.pnlFootPrint {
  width: 100vw;
  height: 47vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4c4e50;
  background-image: url("../img/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
}

/* @media (orientation: landscape) {
  .fp-wrapper {
    display: flex;
    flex-direction: row;
  }

  .fp-pad {
    width: 100%;
    height: auto;
  }
} */
/* 
@media (orientation: portrait) {
  .fp-wrapper {
    display: flex;
    flex-direction: column;
  }
  .fp-pad {
    width: auto;
    height: 100%;
  }
} */

.pnlChoices {
  width: 100vw;
  height: 47vh;
}

.pnlChoices > * {
  width: 50%;
  height: 50%;
  float: left;
}

.gameRunning > button > label,
.pnlFootPrint.gameRunning > label {
  display: none;
}

.pnlChoices:not(.gameRunning) > button > img,
.pnlFootPrint:not(.gameRunning) > img {
  display: none;
}

button.shiny {
  background-color: gold;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}
